<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.spring.board.BoardCmtMapper">
    <insert id="insBoardCmt">
        INSERT INTO t_board_cmt
        (iboard, iuser, cmt)
        VALUES
        (#{iboard},#{iuser},#{cmt})
    </insert>
    <select id="selBoardCmtList" resultType="BoardCmtDomain">
        SELECT a.icmt, a.iuser, a.cmt, a.regdate, b.unm as writerNm, b.profileImg
        FROM t_board_cmt a
        INNER JOIN t_user b ON a.iuser=b.iuser
        WHERE a.iboard = #{iboard}
        ORDER BY a.icmt
    </select>
    <update id="updBoardCmt">
        UPDATE t_board_cmt
        SET cmt = #{cmt}
        WHERE icmt=#{icmt} AND iuser=#{iuser}
    </update>
    <delete id="delBoardCmt">
        DELETE FROM t_board_cmt
        WHERE
        <if test="iboard > 0">
            iboard=#{iboard}
        </if>
        <if test="icmt > 0">
            icmt = #{icmt} AND iuser = #{iuser}
        </if>
    </delete>
</mapper>
